<h1>Web FizzBuzz Spiel</h1>
<p>Ausgabe aller Zahlen von 1-100 und Ausgabe der Teilbarkeit durch 3 und 5</p>
<p>fizz name = <%= @fizz_name %></p>
<p>buzz name = <%= @buzz_name %></p>
<p>fizz number = <%= @fizz_number%></p>
<p>buzz number = <%= @buzz_number%></p>
<p>maxnumber = <%= @max_number%></p>
