<h1>Web FizzBuzz Spiel</h1>
<p>Ausgabe aller Zahlen von 1-100 und Ausgabe der Teilbarkeit durch 3 und 5</p>
<p>fizz name = <%= @fizz_name %></p>
<p>buzz name = <%= @buzz_name %></p>
<p>fizz number = <%= @fizz_number%></p>
<p>buzz number = <%= @buzz_number%></p>
<p>maxnumber = <%= @max_number%></p>

<table border="1">

<tr>
	<th width="300">Zahl</th>
	<th width="300">Teilbar durch <%= @fizz_number %> </th>
	<th width="300">Teilbar durch <%= @buzz_number %></th>
</tr>

<% i = 1 %>
<% while i <= @max_number %>
<tr>
	<td width="300"><%= i %></td>
	<td width="300">
   <%= teilbar3(i) %>
	</td>
	<td width="300">
		<%= teilbar5(i) %>
	</td>
</tr>
<% i += 1 %> 
<% end %>

</table> 
